@media (max-width: 739px) { 
    #may_tinh {
        top: 100px;
    }

    
    .phan_tram:hover .text-copyright {
        display: block;
    }

    .text-copyright {
        display: none; 
    /* background-color: green; */
        position: absolute; 
        right: 0;
        left: 36px; 
        top: -280px; 
        width: 230px; 
        transform-origin: 50% 100%;
        will-change: opacity, transform;
        animation: notifyGrowth linear 0.2s;
    }
}